/* ***************************************All*************************************** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: lightsteelblue;
}



/* ***************************************Body*************************************** */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    line-height: 1.4;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border: 3px solid steelblue;
    background-color: white;
    box-shadow: 5px 5px 10px 5px gray;
}



/* ***************************************Header*************************************** */
header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid steelblue;
    background-image: linear-gradient(to right, white, lightsteelblue)
}

header h2 {
    font-size: 300%;
    font-style: italic;
    color: steelblue;
    text-shadow: 2px 2px 10px gray;
}

a:link, a:visited {
    color: steelblue;
}

a:hover, a:focus {
    color: maroon;
}

aside a {
    font-weight: bold;
}

aside a:visited {
    color: maroon;
}



/* ***************************************Navigation Menu*************************************** */
#nav_menu {
    border-bottom: 5px solid steelblue;
    background-color: steelblue;
}

#nav_menu ul {
    list-style-type: none;
    position: relative;
    display: flex;
}

#nav_menu li {
    width: 20%;
}

#nav_menu a {
    display: block;
    color: white;
    background-color: steelblue;
    text-align: center;
    padding: .7em 0;
    font-weight: bold;
    text-decoration: none;
    transition: all 600ms;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

#nav_menu ul ul li a {
    text-align: left;
    padding-left: .25em;
}

#nav_menu ul li:hover > ul {
    display: block;
}

#nav_menu a:hover {
    color: black;
    background-color: lightsteelblue;
    transition: color 600ms;
}

.sidebarimages {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.sidebarimages img {
    max-width: 90%;
    border: 3px ridge steelblue;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px grey;
}


/* ***************************************Main*************************************** */
main {
    display: flex;
}

/* aside {
    width: 30%;
}

section {
    max-width: 70%;
} */

section {
    flex: 0 1 56%;
}

aside {
    flex: 0 1 22%;
}

section h1 {
    text-align: center;
    font-size: 275%;
    color: darkslategray;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
}

section blockquote {
    margin: 0 5% 10px;
    border-left: 5px solid steelblue;
    border-radius: 0 10px 10px 0;
    background-color: lightblue;
    padding: 7px;
}

section h2,
section p {
    margin: 0 2% 10px;
}

section h4 {
    display: flex;
    align-items: center;
    gap: 10px;
}

section h4 a {
    font-size: 130%;
    text-decoration: none;
}

section h4 a:link, section h4 a:visited {
    color: black;
    transition: color 800ms;
}

section h4 a:hover {
    color: crimson;
}

section p {
    padding-top: 3px;
}

/* aside h2{
    margin-top: 25px;
    text-align: center;
}

aside ul li {
    margin: 0 10%;
} */



/* ***************************************Navigation List*************************************** */
#nav_list {
    margin-bottom: 20px;
}

#nav_list h2 {
    margin: 25px 0;
    text-align: center;
}

#nav_list ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

#nav_list li {
    width: 90%;
    border: 1px solid steelblue;
    border-radius: 50vw;
}

#nav_list a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: lightsteelblue;
    border-radius: 50vw;
    padding: .5em;
    color: black;
    transition: all 600ms;
}

#nav_list a:hover {
    color: white;
    background-color: steelblue;
    transition: color 600ms;
}

/* ***************************************Aside Right*************************************** */
#right h2 {
    font-size: 110%;
    text-align: center;
    margin: 25px 0;
}

#right h3 {
    font-size: 100%;
}

#right p {
    font-size: 90%;
    margin: 5px 0 15px;
    padding-right: 10px;
}

/* ***************************************Footer*************************************** */
footer {
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer p {
    padding: 10px 0;
    font-variant: small-caps;
}